# Clés privées et artefacts sensibles
#**/pki/private/*
#!**/pki/private/.gitkeep

# Optionnel: ne versionner que les fichiers publics
#**/*.key
#**/*.csr
#**/*.srl

# Cert self-signed de dev (si tu en crées un)
#nginx/certs/selfsigned.*
