VITE_API_AUTH_URL="https://localhost:3443"
VITE_API_GAME_URL="https://localhost:4443"
VITE_CLOUDINARY_CLOUD_NAME="cloud_name"
VITE_CLOUDINARY_UPLOAD_PRESET="upload_preset"
VITE_API_BASE_URL="https://localhost:3443"